* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.fakeimg {
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
}

.container {
  position: relative;
  max-width: 100%; 
  margin: 0 auto; 
}

.container .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%;
  padding: 20px; 
  
}

.card {
  background-color: #a2a18e;
  padding: 20px;
  margin-top: 20px;
  font-size: 100%;
  font-family: Bahnschrift Light;
}
.h4{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  background-color: rgb(106, 103, 100);
  text-align: center;
}

.social-media{
  background-color: #BDB76B;
  text-align: center;
}
.social-media p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
